<div class="form-wrapper">
  <div class="container pt-5">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="card">
          <div class="card-body">
            <h3 class="mb-3">{{ qustionnaire?.name }}</h3>
            <form [formGroup]="form" (submit)="onSubmit()">
              <div *ngFor="let item of content.controls; let i=index" [formGroup]="item" class="mx-auto d-block">
                <p class="survey-text">{{ qustionnaire?.content.questions[i].text }}</p>
                <div class="col">
                  <div *ngFor="let answer of qustionnaire?.content.answers" class="form-check">
                    <input formControlName="result" class="form-check-input" type="radio" value="{{ answer.points }}">
                    <label class="form-check-label" for="exampleRadios1">{{ answer.text }}</label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="form-group text-center">
                <button (click)="onSubmit()" 
                        [disabled]="form.invalid"
                        type="button"
                        class="btn btn-primary"
                        translate
                        >BUTTONS.SUBMIT</button>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>