<div class="form-wrapper">
  <div class="container pt-5">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="card">
          <div class="card-body">
            <h3 class="mb-3">{{ qustionnaire?.name }}</h3>
            <form [formGroup]="form" (submit)="onSubmit()">
              <div *ngFor="let item of content.controls; let i=index" [formGroup]="item" class="mx-auto d-block">
                <p class="survey-text">{{ qustionnaire?.content.questions[i].text }}</p>
                <div class="col">
                  <div *ngFor="let answer of qustionnaire?.content.answers" class="form-check">
                    <input formControlName="result" class="form-check-input" type="radio" value="{{ answer.points }}">
                    <label class="form-check-label" for="exampleRadios1">{{ answer.text }}</label>
                  </div>
                </div>
              </div>
              <hr>
              <div class="mx-auto d-block">
                <h4 translate class="mb-3">FORM.CONTACT_INFO</h4>
                <p translate class="mb-3">FORM.CONTACT_TEXT</p>
                <div class="form-group d-flex align-items-center flex-row">
                  <label translate class="m-0">FORM.CONTACT_PHONE_LABEL</label>
                  <input formControlName="phone"
                         prefix="+7 "
                         mask="(000) 000 00 00"
                         class="form-control col-md-4 ml-3"
                         type="text">
                </div>
              </div>
              <hr>
              <div class="form-group text-center">
                <button (click)="onSubmit()"
                        [disabled]="form.invalid"
                        translate
                        type="button"
                        class="btn btn-primary">BUTTONS.SUBMIT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>