<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">Plans list</h2>
            <a routerLink="/plans/new" class="au-btn au-btn-icon au-btn--blue">
                <i class="zmdi zmdi-plus"></i>add item</a>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-md-12">
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Points</th>
                        <th>Price</th>
                        <th>Visible</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="plans.length > 0">
                    <tr *ngFor="let plan of plans; index as i">
                        <td>{{ i + 1 }}</td>
                        <td>{{ plan?.name }}</td>
                        <td>{{ plan?.points }}</td>
                        <td>{{ plan?.price }}</td>
                        <td>{{ plan?.is_visible === 1 ? 'Yes' : 'No' }}</td>
                        <td>
                            <a (click)="goToEdit(plan.id)"><i class="fa fa-pencil-square-o"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="plans.length === 0">
                    <tr>
                        <td colspan="7">No plans found</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END DATA TABLE-->
    </div>
</div>