<div class="page-wrapper">

  <div class="sidebar-wrapprt" [ngClass]="{ 'open-mob-menu' : showMenu }" (click)="openMenu()">
  </div>
  <aside class="menu-sidebar2" [ngClass]="{ 'open-mob-menu' : showMenu }">

    <div class="menu-side-box">
      <a routerLink="/panel/forms/1" class="logo-link-main"><div class="logo">
        <img class="logo-menu-pc" src="assets/images/TOPhunter.png" alt="logo">
        <img class="logo-menu-mob" src="assets/images/Th.png" alt="logo">
      </div>
    </a>
      <perfect-scrollbar class="scrollbar-menu">
        <app-panel-navigation-component></app-panel-navigation-component>
      </perfect-scrollbar>
      <app-panel-navigation-component class="panel-nav-hd"></app-panel-navigation-component>
    </div>
  </aside>

  <div class="page-container2">
    <header class="header-desktop">
      <div class="user-block">
        <div class="user-img-wrapper">
          <img class="user-pc-img" src="/assets/images/ava.png">
        </div>
        <div class="user-name-exit">
          <div class="user-name">{{ user?.email || user?.name }}</div>
          <div translate (click)="authService.logout()" class="user-exit">PANEL.HEADER_BUTTONS.LOGOUT</div>
        </div>
      </div>
      <div class="user-available-block">
        <div class="user-available-count" translate [translateParams]="{ value: user.points }">PANEL.FORMS_AVAILABLE</div>
        <div translate (click)="onPay()" class="user-available-buy">PANEL.HEADER_BUTTONS.INCREASE_BUDGET</div>
      </div>
    </header>

    <header class="header-desktop header-desktop-mob">
      <div class="sidebar-burger" (click)="openMenu()"><img src="/assets/images/burger.png"></div>
      <div class="logo-mob-wrapper">
        <img src="/assets/images/logo-mob.png">
      </div>
      <div class="user-block-mob">
        <div class="user-ava-block">
          <div class="img-user-wrapper" (click)="openUser()"><img src="/assets/images/user-mob.svg"></div>
          <div class="mini-modal" [ngClass]="{ 'open-user' : showUser }">
            <div class="triangle"></div>
            <div class="mini-modal-title">{{ user?.email || user?.name }}</div>
            <div class="mini-modal-btn" translate (click)="authService.logout()">PANEL.HEADER_BUTTONS.LOGOUT</div>
          </div>
        </div>
        <div class="user-block-shop">
          <div class="img-user-wrapper">
            <div class="shop-mob-wrapper" (click)="openShop()"><img src="/assets/images/shop.svg">
                <span class="tests-bay-mob" translate [translateParams]="{ value: user.points }">{{ user.points }}</span>
            </div>
            <div class="mini-modal" [ngClass]="{ 'open-user' : showShop }">
              <div class="triangle"></div>
              <div class="mini-modal-title" translate [translateParams]="{ value: user.points }">PANEL.FORMS_AVAILABLE</div>
              <div class="mini-modal-btn mini-modal-btn--points" translate (click)="onPay()">PANEL.HEADER_BUTTONS.INCREASE_BUDGET</div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="page">
      <div class="page-box">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>
