<div class="page-wrapper">
  <div class="page-content--bge5">
      <div class="container">
          <div class="login-wrap">
              <div class="login-content">
                  <div class="login-logo">
                      <a href="#">
                          <img src="assets/images/logo.jpg" alt="CoolAdmin">
                      </a>
                  </div>
                  <div class="login-form">
                      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                          <div class="form-group">
                              <label translate>LOGIN.EMAIL</label>
                              <input formControlName="email"
                                     class="au-input au-input--full"
                                     type="email" >
                              <span *ngIf="formService.hasError(loginForm, 'email', 'required')"
                                    translate
                                    class="help-block text-danger">ERRORS.REQUIRED</span>
                              <span *ngIf="formService.hasError(loginForm, 'email', 'email')"
                                    translate
                                    class="help-block text-danger">ERRORS.EMAIL</span>
                              <span *ngIf="formService.hasError(loginForm, 'email', 'apiError')"
                                    class="help-block text-danger">{{ apiErrors.email }}</span>
                          </div>
                          <div class="form-group">
                              <label translate>LOGIN.PASSWORD</label>
                              <input formControlName="password"
                                     class="au-input au-input--full" 
                                     type="password">
                              <span *ngIf="formService.hasError(loginForm, 'password', 'required')"
                                    translate
                                    class="help-block text-danger">ERRORS.REQUIRED</span>
                          </div>
                          <div class="login-checkbox">
                              <label>
                                  <a translate routerLink="/reset">LOGIN.FORGOT_PASSWORD</a>
                              </label>
                          </div>
                          <button translate
                                  class="au-btn au-btn--block au-btn--green m-b-20"
                                  type="submit">LOGIN.SIGN_IN</button>
                          <button translate
                                  (click)="onGoogleAuth()"
                                  class="au-btn au-btn--block au-btn--red m-b-20"
                                  type="button">LOGIN.SIGN_IN_GOOGLE</button>
                      </form>
                      <div class="register-link">
                          <p translate>
                              LOGIN.HAVE_NO_ACCOUNT
                              <a translate routerLink="/sign-up">LOGIN.SIGN_UP</a>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>