<div class="col-8">
    <div class="card">
      <form [formGroup]="form" class="card-body card-block">
        <div class="form-group row">
          <div class="col-6">
            <input formControlName="name"
                   type="text"
                   class="form-control"
                   placeholder="{{ 'QUESTIONNAIRES.FORM.NAME' | translate }}">
          </div>
        </div>
        <hr>
        <div *ngFor="let question of questions.controls; let i=index" [formGroup]="question" class="form-group row">
          <div class="col-11 pr-0">
            <textarea formControlName="text" class="form-control" placeholder="{{'QUESTIONNAIRES.FORM.QUESTION' | translate}}"></textarea>
          </div>
          <div class="col-1 d-flex flex-column">
            <span (click)="onRemoveQuestion(i)" class="mr-auto my-auto">
              <i class="fa fa-minus-circle"></i>
            </span>
            <span (click)="onAddQuestion()" class="mr-auto my-auto">
              <i class="fa fa-plus-circle"></i>
            </span>
          </div>
        </div>
        <hr>
        <div class="form-group d-flex justify-content-end">
          <button (click)="onCancel()" translate class="btn btn-secondary ml-2">BUTTONS.BACK</button>
          <button (click)="onSubmit()" translate class="btn btn-success ml-2">QUESTIONNAIRES.FORM.BTN_SUBMIT</button>
        </div>
      </form>
    </div>
  </div>