<div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">new user</h2>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body card-block">
                <form [formGroup]="userForm" (onSubmit)="onSubmit()" class="form-horizontal">
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Name</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input formControlName="name" type="text" placeholder="Enter name..." class="form-control">
                            <!-- <span class="help-block">Please enter name</span> -->
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-email" class=" form-control-label">Email</label>
                        </div>
                        <div class="col-12 col-md-9">
                            <input type="email" formControlName="email" placeholder="Enter Email..." class="form-control">
                            <!-- <span class="help-block">Please enter your email</span> -->
                        </div>
                    </div>
                    <div class="row pr-3">
                      <button (click)="onSubmit()" class="btn btn-primary ml-auto" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>