<div class="page-in-wrapper">
  <div class="page-in-body">
      <div class="in-logo-wrapper"><img src="assets/images/logo-enter.png"></div>
      <div class="page-in-box page-in-box--reset">
          <div class="page-in-reset-text">Укажите почту для восстановления пароля</div>
          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="in-form">

              <div class="in-form-group">
                  <input formControlName="email" placeholder="{{ 'LOGIN.EMAIL' | translate }}" class="in-from-input"
                      type="email">
                  <!-- <span *ngIf="formService.hasError(resetForm, 'email', 'required')" translate
                      class="help-block text-danger warning-text">ERRORS.REQUIRED</span>
                  <span *ngIf="formService.hasError(resetForm, 'email', 'email')" translate
                      class="help-block text-danger warning-text">ERRORS.EMAIL</span>
                  <span *ngIf="formService.hasError(resetForm, 'email', 'apiError')"
                      class="help-block text-danger warning-text">{{ apiErrors.email }}</span> -->
              </div>

              <button translate class="in-form-enter in-form-enter--reset" type="submit">LOGIN.DROP_PASSWORD</button>
          </form>
      </div>
      <a translate routerLink="/login" class="forgot-btn authorisation-btn">LOGIN.AUTHORISATION</a>
  </div>
</div>

