.table-top-campaign.table tr.empty td:last-child {
  text-align: center;
  color: #808080;
}
table.table-top-campaign > thead > tr > th {
  border-top: none;
  border-bottom: 1px solid #dee2e6;
  padding: .75rem 0
}

table.table-top-campaign > thead > tr > th:first-child {
  text-align: left;
}

table.table-top-campaign > thead > tr > th:last-child {
  text-align: right;
}