<div class="col-8">
  <div class="card">
    <form [formGroup]="form" class="card-body card-block">
      <div class="form-group row">
        <div class="col-6">
          <input formControlName="name"
                 type="text"
                 class="form-control"
                 placeholder="{{ 'QUESTIONNAIRES.FORM.NAME' | translate }}">
        </div>
        <div class="col-6 d-flex">
          <select formControlName="type_id" class="form-control col-11">
            <option translate value="0">QUESTIONNAIRES.FORM.DEFAULT_RESULT_TYPE</option>
            <option *ngFor="let type of types" value="{{ type?.id }}">{{ type?.name }}</option>
          </select>
          <span (click)="onAddType()" class="col-1 d-flex justify-content-center align-items-center point-cursor">
            <i class="fa fa-plus"></i>
          </span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <input formControlName="success_score"
                 type="text"
                 class="form-control"
                 placeholder="{{'QUESTIONNAIRES.FORM.SURVEY_POINTS' | translate}}">
        </div>
      </div>
      <hr>
      <div class="form-group">
        <textarea formControlName="description"
                  class="form-control" 
                  placeholder="{{'QUESTIONNAIRES.FORM.DESCRIPTION' | translate}}"></textarea>
      </div>
      <hr>
      <div *ngFor="let question of questions.controls; let i=index" [formGroup]="question" class="form-group row">
        <div class="col-11 pr-0">
          <textarea formControlName="text" class="form-control" placeholder="{{'QUESTIONNAIRES.FORM.QUESTION' | translate}}"></textarea>
        </div>
        <div class="col-1 d-flex flex-column">
          <span (click)="onRemoveQuestion(i)" class="mr-auto my-auto">
            <i class="fa fa-minus-circle"></i>
          </span>
          <span (click)="addQuestion()" class="mr-auto my-auto">
            <i class="fa fa-plus-circle"></i>
          </span>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div *ngFor="let answer of answers.controls; let i=index" [formGroup]="answer" class="row mb-2">
          <div class="col-9">
            <input formControlName="text" class="form-control" placeholder="{{'QUESTIONNAIRES.FORM.ANSWER' | translate}}">
          </div>
          <div class="col-2">
            <input formControlName="points" class="form-control" placeholder="{{'QUESTIONNAIRES.FORM.POINTS' | translate}}">
          </div>
          <div class="col-1 d-flex flex-row pl-0">
            <span (click)="onRemoveAnswer(i)" class="my-auto">
              <i class="fa fa-minus-circle"></i>
            </span>
            <span (click)="addAnswer()" class="ml-auto my-auto">
              <i class="fa fa-plus-circle"></i>
            </span>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group d-flex justify-content-end">
        <button (click)="onCancel()" [disabled]="formSubmitting" translate class="btn btn-secondary ml-2">BUTTONS.BACK</button>
        <button (click)="onSubmit()" [disabled]="formSubmitting" translate class="btn btn-success ml-2">BUTTONS.SUBMIT</button>
      </div>
    </form>
  </div>
  <ngx-smart-modal #typeModal 
                   identifier="typeModal" 
                   (onOpen)="modalEventService.onOpen()" 
                   (onAnyCloseEventFinished)="onTypeModalClose()"
                   customClass="nsm-centered">
      <form [formGroup]="typeForm" class="mt-4 pt-2">
        <div class="form-group">
          <label>Название характеристики</label>
          <input formControlName="name"
                 type="text"
                 class="form-control">
        </div>
        <div class="d-flex">
          <button translate (click)="onSubmitTypeForm()" class="btn btn-primary mx-auto">Отправить</button>
        </div>
      </form>
    </ngx-smart-modal>
</div>