<nav class="navbar-sidebar2">
    <ul class="list-unstyled navbar__list">
        <li *ngFor="let item of list" routerLinkActive="active">
          <a [routerLink]="['forms', item.id]" class="d-flex align-items-center" href="#">
            <i class="fas fa-copy"></i>
            <span class="flex-grow-1">{{ item.name }}</span>
            <span class="m-l-5"><i class="fas fa-angle-right"></i></span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="forms/new" class="d-flex align-items-center">
            <i class="fas fa-plus"></i>
            <span translate class="flex-grow-1">BUTTONS.NEW_SURVEY</span>
            <span class="m-l-5"><i class="fas fa-angle-right"></i></span>
          </a>
        </li>
    </ul>
</nav>